th,
td {
    padding: 15px;
}

td.Details {
    text-align: center;
}

body {
    text-align: center;
}

footer {
    margin-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}

a {
    text-decoration: none;
}

li.Footer {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    display: inline;
    float: center;
}



/* Webkit Designs */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input#textarea {
    width: auto;
    height: 169px;
    margin-left: 14px;
}

form {
    float: center;
}